/TestDrivenDevelopment/TestDrivenDevelopment/nbproject/private/
/TestDrivenDevelopment/TestDrivenDevelopment/build/
/TestDrivenDevelopment/shapes2/nbproject/private/
/TestDrivenDevelopment/shapes2/build/
/shapes2/build/
/shapes2/nbproject/private/