/TestDrivenDevelopment/TestDrivenDevelopment/nbproject/private/
/TestDrivenDevelopment/TestDrivenDevelopment/build/
/TestDrivenDevelopment/shapes2/nbproject/private/
/TestDrivenDevelopment/shapes2/build/
/shapes2/build/
/shapes2/nbproject/private/
/factory/nbproject/private/


.idea/
out/
/New Folder/parkingsystem/nbproject/private/

/New Folder/parkingsystem/build/
/New Folder/parkingsystem/dist/